<!-- NAVIGATION -->
<nav class="navbar navbar-default" role="navigation"  ng-cloak>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="home">Laravel/Angular App</a>
  </div>
  <div class="navbar-collapse collapse" ng-controller="UserAuthController as userCtrl">
    <ul class="nav navbar-nav">
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="tasks">Tasks</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="userLoggedIn()">
      <li><a ui-sref="api.restricted">Restricted area</a></li>
      <li><a ng-click="userCtrl.logout()" href>Logout</a></li>
      <li ui-sref-active="active" class="item">
        <a ui-sref="tasks">{{user.email}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="userLoggedIn()">
      <li><a ui-sref="login">Login in</a></li>
      <li><a ui-sref="register">Register</a></li>
    </ul>

  </div>
</nav>
