<div class="container-fluid">
    <div class="row">
        <form>
            <div class="col-md-6 col-md-offset-3">
                <h3 class="panel-heading">Please Register</h3>
                <div class="form-group">
                    <label class="sr-only" for="name">Name</label>
                    <input autofocus="" class="form-control input-lg" id="name" placeholder="Name" required="" type="name" ng-model=name>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="email">Email address</label>
                    <input autofocus="" class="form-control input-lg" id="email" placeholder="Email address" required="" type="email" ng-model=email>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input class="form-control input-lg" id="password" placeholder="Password" required="" type="password" ng-model=password>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password_confirmation">Repeat Password</label>
                    <input class="form-control input-lg" id="password_confirmation" placeholder="Confirm Password" required="" type="password" ng-model=password_confirmation>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register()">Register</button>
            </div>
        </form>
    </div>
</div>
