<!-- hide these tasks if the loading variable is true -->
<style media="screen">
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
</style>
<div ng-hide="loading">
    <div class="row">
        <div class="panel-body">
            <table class="table-hover">
                <tr class="list-group-item well" ng-repeat="task in taskCtrl.tasks" style="margin: 10px;padding: 5px">
                    <td>
                        <!-- <p align="right" class="btn-xs" title="Delete" type="button"> -->
                          <button type="button" class="close btn-xs" ng-click="taskCtrl.deleteTask(task.id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                            <div class="vcenter" style="padding:1px">
                                <h4 align="center">
                                    <div class="label" ng-click="taskCtrl.completeTask(task)" title="Done" type="button">
                                        <span class="glyphicon btn-lg" ng-class="task.status? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
                                    </div>
                                </h4>
                            </div>
                            <div class="col-md-7 vcenter">
                                <h5>{{ task.title | blurb:80 }}</h5>
                            </div>
                            <div class="vcenter" style="vertical-align:right">
                                <h4 ng-switch on="task.priority.id">
                                    <span class="label label-default" ng-switch-when="1">{{  task.priority.name | acronym}}</span>
                                    <span class="label label-warning" ng-switch-when="2">{{  task.priority.name | acronym }}</span>
                                    <span class="label label-warning" ng-switch-when="3">{{  task.priority.name | acronym }}</span>
                                    <span class="label label-warning" ng-switch-when="4">{{  task.priority.name | acronym }}</span>
                                    <span class="label label-danger" ng-switch-when="5">{{  task.priority.name | acronym }}</span>
                                    <span class="label label-default" ng-switch-default>{{  task.priority.name | acronym }}</span>
                                </h4>
                            </div>
                            <div align="right" class="vcenter btn" title="Edit" type="button">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </div>
                            <div class="vcenter btn" ng-click="task.moreinfo=!task.moreinfo" title="More" type="button">
                                <span class="glyphicon" ng-class="task.moreinfo==true? 'glyphicon-menu-down' : 'glyphicon-menu-right'"></span>
                            </div>

                        </div>
                        <div ng-hide="!task.moreinfo">
                            <div class="col-md-11" style="font-size:14px; font-color:orange ">
                                <p>{{ task.notes }}</p>
                                <p align="right" style="padding:3px">
                                    <b ng-repeat="tag in task.tags">
                                        <a href="#">#{{ tag.name }}</a>
                                    </b>
                                </p>
                            </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
