<!-- hide these tasks if the loading variable is true -->
<div ng-hide="loading">
    <div class="row">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"  ng-repeat="task in taskCtrl.tasks">
                        <div class="row">
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <p ng-switch on="task.priority.id">
                                      <a href="/#tasks">{{ task.title }}</a>
                                        <span class="label label-default" ng-switch-when="1">{{  task.priority.name }}</span>
                                        <span class="label label-warning" ng-switch-when="2">{{  task.priority.name }}</span>
                                        <span class="label label-warning" ng-switch-when="3">{{  task.priority.name }}</span>
                                        <span class="label label-warning" ng-switch-when="4">{{  task.priority.name }}</span>
                                        <span class="label label-danger" ng-switch-when="5">{{  task.priority.name }}</span>
                                        <span class="label label-default" ng-switch-default>{{  task.priority.name }}</span>
                                    </p>
                                </div>
                                <div>
                                    {{ task.notes }}
                                    <ul class="pagination">
                                      <li ng-repeat="tag in task.tags"><b>{{ tag.name }}</b></li>
                                    </ul>
                                </div>
                                <div class="mic-info">
                                    <div class="span">
                                    </div>
                                </div>
                                <div class="action">
                                    <div type="button" class="label label-primary label-xs" title="Edit" ng-click="taskCtrl.editTask(task.id)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </div>
                                    <div type="button" class="label label-success label-xs" title="Done">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </div>
                                    <div type="button" class="label label-danger label-xs" title="Delete" ng-click="taskCtrl.deleteTask(task.id)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>
