<div  ng-controller="mainController" class="container">
  <div class="col-md-8 col-md-offset-2">

<!-- PAGE TITLE =============================================== -->
<div class="page-header">
    <h3>Laravel and Angular Task Application</h3>
    <h4>Task System | <a href="#/tasks" ng-click="newTask()">New</a></h4>
</div>

<!-- NEW TASK FORM =============================================== -->
<div ng-include="'partials/_tasks-form.html'"></div>

<!-- LOADING ICON =============================================== -->
<!-- show loading icon if the loading variable is set to true -->
<p class="text-center" ng-show="loading"><span class="fa fa-refresh fa-5x fa-spin"></span></p>

<!-- THE TASKS =============================================== -->
<div ng-include="'partials/_tasks-list.html'"></div>


</div>
</div>
