<div class="container">
<div  ng-controller="TaskController as taskCtrl" class="col-md-8  col-md-offset-2">
  <div class="span">

<!-- PAGE TITLE =============================================== -->
<div class="page-header">
    <h4 class="panel-title"><i class="glyphicon glyphicon-th-list"></i> Task Application
      | <button class="btn btn-xs btn-success" ng-click="taskCtrl.newTask()" style="align:left">New</a></h4>
</div>

<!-- NEW TASK FORM =============================================== -->
<div ng-include="'partials/_tasks-form.html'"></div>

<!-- LOADING ICON =============================================== -->
<!-- show loading icon if the loading variable is set to true -->
<p class="text-center" ng-show="taskCtrl.loading"><span class="fa fa-refresh fa-5x fa-spin"></span></p>

<!-- THE TASKS =============================================== -->
<div ng-include="'partials/_tasks-list.html'"></div>


  </div>
</div>
</div>
